- name: Install Ansible and Dependencies
  hosts: bd
  become: true
  tasks:
    # Paso 2: Actualizar y actualizar el sistema
    - name: Update and Upgrade System
      apt:
        update_cache: yes
        upgrade: dist

    # Paso 3: Instalar dependencias necesarias
    - name: Install Required Dependencies
      apt:
        name: software-properties-common
        state: present

    # Paso 4: Agregar el repositorio de Ansible
    - name: Add Ansible PPA
      apt_repository:
        repo: ppa:ansible/ansible
        state: present

    # Paso 5: Instalar Ansible
    - name: Install Ansible
      apt:
        name: ansible
        state: present

    # Paso 6: Verificar instalación de Ansible
    - name: Verify Ansible Installation
      command: ansible --version
      register: ansible_version
    - debug:
        msg: "Ansible Version: {{ ansible_version.stdout }}"

    # Paso 7: Instalar rol de Ansible desde Galaxy
    - name: Install Ansible Galaxy Role
      ansible.builtin.command:
        cmd: ansible-galaxy role install geerlingguy.postgresql

    # Paso 8: Instalar colección de Ansible para Azure
    - name: Install Azure Collection
      ansible.builtin.command:
        cmd: ansible-galaxy collection install azure.azcollection